<hibernate-configuration>
    <!-- 通常，一个session-factory节点代表一个数据库 -->
    <session-factory>

        <!-- 1. 数据库连接配置 -->
        <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://127.0.0.1:3306/mypetstore?serverTimezone=UTC</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">123456</property>
        <!--            数据库方法配置， hibernate在运行的时候，会根据不同的方言生成符合当前数据库语法的sql         -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>


        <!-- 2. 其他相关配置 -->
        <!-- 2.1 显示hibernate在运行时候执行的sql语句 -->
        <property name="hibernate.show_sql">true</property>
        <!-- 2.2 格式化sql -->
        <property name="hibernate.format_sql">true</property>
        <!-- 2.3 自动建表  -->
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="current_session_context_class">thread</property>

        <!--3. 加载所有映射-->
        <mapping resource="mappers/Account.hbm.xml"/>
        <mapping resource="mappers/Signon.hbm.xml"/>
        <mapping resource="mappers/Profile.hbm.xml"/>
        <mapping resource="mappers/Bannerdata.hbm.xml"/>

        <mapping resource="mappers/Category.hbm.xml"/>
        <mapping resource="mappers/Product.hbm.xml"/>
        <mapping resource="mappers/Item.hbm.xml"/>
        <mapping resource="mappers/Inventory.hbm.xml"/>

        <mapping resource="mappers/Order.hbm.xml"/>
        <mapping resource="mappers/Orderstatue.hbm.xml"/>
        <mapping resource="mappers/Lineitem.hbm.xml"/>
        <mapping resource="mappers/Sequence.hbm.xml"/>
    </session-factory>
</hibernate-configuration>